<div class="container edit-profile-container">
    <div class="flash-messages-container"></div>
    <div class="page-header">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <h1>Editar Perfil</h1>
             </div>
          </div>
          <img class="mb-4" src="./img/bootstrap-solid.svg" alt="" width="72" height="72">
       </div>
    </div>

    <form class="form-edit-profile">
        <div class="edit-personal-brand">
            <div class="user-img-container">
                {{#if isDean}}
                  <div class="img mb-4 dean-img"></div>
                {{/if}}
                {{#if isProfessor}}
                  <div class="img mb-4 professor-img"></div>
                {{/if}}
                {{#if isStudent}}
                  <div class="img mb-4 student-img"></div>
                {{/if}}
                <button type="button" class="btn btn-secondary">Cambiar Foto</button>
            </div>
        </div>
        <div class="edit-user-info">
            <div class="row">
                <div class="col-sm-6">
                  <label for="oldPasswordInput">Nombres: </label>
                </div>
              <div class="col-sm-5">
                  <input type="text" id="userNames" name="userNames" class="form-control form-input input-name" placeholder="Nombres" required="" autofocus="" autocomplete="off">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                  <label for="oldPasswordInput">Apellidos: </label>
                </div>
              <div class="col-sm-5">
                  <input type="email" id="userEmail" name="userEmail" class="form-control form-input input-email" placeholder="Email" required="" autofocus="" autocomplete="off">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                  <label for="oldPasswordInput">Correo Personal: </label>
                </div>
              <div class="col-sm-5">
                  <input type="email" id="userEmail" name="userEmail" class="form-control form-input input-email" placeholder="Email" required="" autofocus="" autocomplete="off">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                  <label for="oldPasswordInput">Teléfono: </label>
                </div>
              <div class="col-sm-5">
                  <input type="text" id="userPhone" name="userPhone" class="form-control form-input input-phone" placeholder="Teléfono" required="" autofocus="" autocomplete="off">
                </div>
            </div>
        </div>
        <div class="form-container-btn">
            <button class="btn btn-primary" type="submit">Editar Perfil</button>
        </div>
    </form>
</div>