        <div class="container students-container">
            <table class="table table-hover students-table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Correo Institucional</th>
                        <th scope="col">GPA</th>
                    </tr>
                    <tbody>
                        <tr>
                            <td scope="row">132345</td>
                            <td>Kevin</td>
                            <td>Verdezoto</td>
                            <td>kverdezoto@estud.usfq.edu.ec</td>
                            <td>2.85</td>
                        </tr>
                        <tr>
                            <td scope="row">124567</td>
                            <td>Daniela</td>
                            <td>López</td>
                            <td>dlopez@estud.usfq.edu.ec</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td scope="row">132345</td>
                            <td>Kevin</td>
                            <td>Verdezoto</td>
                            <td>kverdezoto@estud.usfq.edu.ec</td>
                            <td>2.85</td>
                        </tr>
                        <tr>
                            <td scope="row">116789</td>
                            <td>Marco</td>
                            <td>Arévalo</td>
                            <td>marevalo@estud.usfq.edu.ec</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td scope="row">109011</td>
                            <td>Juan</td>
                            <td>Merino</td>
                            <td>jmerino@estud.usfq.edu.ec</td>
                            <td>3.2</td>
                        </tr>
                    </tbody>
                </thead>
    
            </table>
        </div>