* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

.main-container {
	margin-top: 5%;
	margin-bottom: 5%;
	min-height: 600px;
}

.form-container {
	text-align: center;
}

.signin-container {
	box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
	/* margin-top: 3rem!important; 
    margin-bottom: 3rem!important; */
}

.form-container .form-side-image {
	background-image: url('../img/bg-01.jpg');
	width: calc(100% - 560px);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
}

.form-signin {
	display: block;
	padding: 100px 15px 30px 15px;
	min-height: 80vh;
}

.form-header-logo {
	margin-bottom: 1.5rem!important;
	width: 72px;
	height: 72px
}

.form-header {
	margin-bottom: 1.5rem!important;
	text-align: center;
}

.form-input {
	margin-bottom: 1.5rem!important;
}

.form-label-group {
	position: relative;
}

.form-label-group input {
	display: block;
	margin: 0;
}

.form-label-group input,
.form-label-group label {
	height: 3.125rem;
	padding: .75rem;
}

.form-label-group label {
	position: absolute;
	text-align: left;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	margin-bottom: 0;
	line-height: 1.5;
	color: #495057;
	pointer-events: none;
	cursor: text;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: all .1s ease-in-out;
}

.form-label-group input:placeholder-shown~label {
	visibility: hidden;
	z-index: -1;
}

.form-label-group input:not(:placeholder-shown) {
	padding-top: 1.25rem;
	padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown)~label {
	padding-top: .25rem;
	padding-bottom: .25rem;
	font-size: 12px;
	color: #777;
}

.form-signin .row {
	justify-content: space-between;
	padding: 0px 20px;
}

.form-signin .row .form-check-input {
	margin-left: -1rem;
	cursor: pointer;
}

.form-signin .row .form-check-label {
	font-family: Poppins-Regular;
	font-size: 13px;
	color: #999999;
	cursor: pointer;
}

.txt1 {
	font-family: Montserrat-Regular;
	font-size: 13px;
	color: #555555;
}

.txt2 {
	font-family: Montserrat-Regular;
	font-size: 13px;
	color: #999999;
}

.txt3 {
	font-family: Montserrat-Regular;
	font-size: 16px;
	color: #555555;
}

.form-container-btn {
	text-align: center;
	padding: 1rem;
}

.btn.btn-primary {
	font-size: 16px;
	min-width: 250px;
	height: 40px;
	border-radius: 20px;
	text-transform: uppercase;
}

.btn.btn-secondary {
	color: #fff;
	background-color: #6c757d!important;
	border-color: #6c757d!important;
}

.btn.btn-secondary:hover,
.btn.btn-secondary:focus,
.btn.btn-secondary:active {
	color: #fff;
	background-color: #6c757d!important;
	border-color: #6c757d!important;
}

.sign-in-question-container {
	padding-top: 1.5rem!important;
	padding-bottom: 1rem!important;
}

.usfq-footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
	background: #f8f9fa!important;
}


/* Styles for reset password, change, and create password forms */

.page-header {
	padding: 1rem 0;
	text-align: center;
	margin: 1rem 0;
}

.section-header {
	padding: 1rem 0;
	text-align: center;
	margin: 1rem 0;
}

.password-container {
	margin: 0 20%;
	background: #fff;
	border: 1px solid #c9c9c9;
	padding: 4rem;
}

.form-container .lead {
	font-weight: 400;
	margin-bottom: 3rem;
}

.redirect-container {
	text-align: center;
}


/* Profile Styles */

.profile-container {
	min-height: 650px;
	padding: 5rem;
	box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
}

.personal-brand {
	text-align: center;
	padding-top: 5rem;
}

.img {
	width: 200px;
	height: 200px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0 auto;
}

.dean-img {
	background-image: url(../img/decano-img.jpg);
}

.professor-img {
	background-image: url(../img/profesor-img.jpg);
}

.student-img {
	background-image: url(../img/estudiante-img.png);
}

.user-info {
	padding-top: 3rem;
}

.user-info .user-info-lbl {
	font-weight: 600;
}


/* Meeting styles */

.meeting-container {
	padding: 3rem 15rem;
	border: 1px solid #c9c9c9;
}

.header-left {
	text-align: left;
}

.page-header .btn-container {
	padding-top: 0.5rem;
}

.input-group-addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.far {
	font-size: 20px;
	font-weight: 400;
}

.meeting-container .form-container-btn {
	text-align: center;
	padding: 1rem;
}

.meeting-container .form-container-btn .btn.btn-primary {
	border-radius: 5px;
}


/* Meeting modal styles */

.meeting-id {
	padding: 1rem;
	line-height: 0.5;
}

#createMeetingModal .modal-body {
	padding: 2rem 6rem;
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 900px;
	}
}


/* Reports Styles */

.kpi-section {
	margin: 3rem 0;
	padding: 0 3rem;
}

.kpi-container {
	padding: 0 2rem;
}

.kpi {
	border: 10px solid black;
	height: 180px;
	padding: 1.5rem;
	text-align: center;
}

.kpi-header {
	height: 50px;
}

.kpi-header h4 {
	margin: 0;
	font-size: 18px;
	font-weight: 600;
}

.kpi-value {
	font-size: 40px;
}

.generate-report-section {
    text-align: center;
}

.report-filters {
	padding: 0 15rem;
	margin-top: 3rem;
}

#clearFiltersContainer {
	padding: 2rem 0; 
}

/* Notification Styles */

.notifications-container {
	max-height: 700px;
	overflow-y: scroll;
}

.notifications-container h1 {
	font-size: 2rem;
}

.meeting-info-container {
	padding: 0 2rem;
	width: 100%
}

.notification-icon {
	font-size: 40px;
}

.meeting-info {
	font-size: 14px;
}

.meeting-info .btn-container {
	padding-top: 1rem;
}

.meeting-details {
	padding-top: 2rem;
}

.meeting-section {
	margin-bottom: 1.5rem;
}

.meetingLabel {
	font-weight: 700;
	font-size: 16px;
}

.notification-link {
	font-weight: 600;
	color: #6c757d!important;
}

.notification-link:link {
	text-decoration: none;
}

.notification-link:visited {
	text-decoration: none;
}

.notification-link:hover {
	text-decoration: none;
}

.notification-link:active {
	text-decoration: none;
}

.notification-number-icon {
	position: absolute;
	top: 0.3rem;
	left: 21rem;
	background: orange;
	color: white;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	display: inline-block;
	font-size: 15px;
	text-align: center;
	line-height: 1.2rem;
}

.notification-container {
    padding-right: 7rem;
    border: 1px solid rgba(0,0,0,.125);
    margin: 1rem;
}


.notification-container .card.meeting-notification{
    border: none;
	padding: 1rem;
	margin-bottom: 1rem;
}

.meeting-notification .notification-text {
	padding: 0 2rem;
}

.meeting-info-container {
	margin: 0
}

.meeting-info-container span {
	margin: 0 5px
}

/* Styles for notification options */
.notification-container .notification-options {
    position: relative;
    z-index: 1;
    left: 100%;
    padding: 7px;
}

.notification-container .notification-options a {
    color: #6c757d;
    font-size: 12px;
    font-weight: 600;
}

/* Styles for meeting details pane */

.student-form-response {
	margin-bottom: 2rem;
}

.meeting-details-content {
	display: none;
}

#studentResponseSection {
	display: none;
}

#studentCommentsSection {
	display: none;
}


/* Daily Meeting Styles */

.daily-meeting-container {
	padding: 3rem 10rem;
	border: 1px solid #c9c9c9;
}

.meeting-student-info {
	padding-top: 1rem;
}

.student-info-lbl {
	font-weight: 600;
}


/* Edit Profile Styles */

.edit-profile-container {
	padding: 0rem 5rem;
	text-align: left
}

.form-edit-profile {
	border: 1px solid black;
	padding: 3rem 7rem;
}

.edit-personal-brand {
	margin-bottom: 4rem;
}

.edit-user-info .form-lbl {
	padding-left: 6rem;
}


/* Image upload styles */

#profileImgInput {
	opacity: 0;
}

#profileImgInputLbl {
	position: absolute;
	top: 50%;
	left: 1rem;
	transform: translateY(-50%);
}

.image-area {
	border: 2px dashed rgba(255, 255, 255, 0.7);
	padding: 1rem;
	position: relative;
}

.image-area::before {
	content: 'Uploaded image result';
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.8rem;
	z-index: 1;
}

.image-area img {
	z-index: 2;
	position: relative;
}

.user-img-container .input-group {
	margin: 0 8rem;
	height: 40px;
	width: auto;
}

.user-img-container .input-group .input-group-append {
	position: absolute;
	right: 0;
	height: 100%;
}

.user-img-container .input-group .input-group-append i.fas {
	color: #7e858c;
    margin-right: 0.5rem;
}

/* Meeting details styles */
.meeting-details-container {
	padding: 2rem 5rem;
	border: 1px solid #c9c9c9;
}

/* Student GPA Styles */
.gpa-by-semester-container {
	padding: 3rem 5rem;
}

.gpa-by-semester-container .gpa-table-container {
	max-height: 400px;
	overflow-y: scroll;
}

/* Scrollbar styles */

.scrollable-container::-webkit-scrollbar {
	width: 3px
}


/* Scrollbar track  */

.scrollable-container::-webkit-scrollbar-track {
	background: #eee
}


/*  Scrollbar handle */

.scrollable-container::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	background-color: #00d2ff;
	background-image: linear-gradient(to top, #00d2ff 0%, #3a7bd5 100%);
}

/* Admin Styles */

/* Admin Container */

.admin-home-container {
	padding-left: 19vw;
}

.admin-container {
	margin-top: 5%;
}

/*
 * Sidebar
 */

 .sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
	height: 60vw;
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Navbar
   */

  .admin-navbar {
      padding: 10px 0;
      z-index: 500;
  }
  
  .admin-navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
  }

  .admin-navbar-nav {
      padding: 0 3rem;
      position: absolute;
      right: 0;
  }

  .admin-navbar-nav .nav-item {
      margin: 0 1rem
  }
  
  .admin-navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .admin-navbar .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .admin-navbar .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  .admin-sidebar {
      top: 80px;
	  height: calc(60vw - 80px);
	  position: sticky;
  }

  .users-table-container {
	max-height: 400px;
	overflow-y: scroll;
  }
  
  /*
   * Utilities
   */
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }

/* Admin home styles */
.admin-container .current-semester-form {
	margin-bottom: 5rem;
}

.admin-container .careers-table-container {
	max-height: 600px;
	overflow-y: scroll;
}

.admin-container .careers-table-container .careersTable {
	text-align: center;
}
  
/* Current Semester Selection */

.current-semester-form .semester-item {
	padding: 1rem;
}

/* File inputs styles */

.file-input {
	margin: 0 3rem
}

.files-upload-container {
	border: 1px solid #c9c9c9;
	padding: 3rem 6rem;
	margin-left: 25%;
	margin-right: 10%;
}

.files-upload-form {
  width: 50vw;
  text-align: center;
}

.files-upload-container .files-container {
	margin-bottom: 4rem;
}

/* Image Upload Styles */
.img-upload-container {
	margin-left: 30%;
    margin-right: 10%;
	width: auto;
	border: 1px solid #c9c9c9;
	padding: 5rem 10rem;
}

.img-upload-container .user-img-options {
	margin-top: 1rem;
	padding: 0 1rem;
}

/* Admin users styles */

.admin-users-container {
	padding: 1rem 5rem;
	margin-left: 15%;
}

.form-container.add-users-form {
	padding: 1rem 3rem;
	margin-bottom: 4rem;
}

.admin-users-container .add-users-form .file-input {
	margin: 0;
}


  /* Edit user styles */
  .admin-edit-user-container .edit-form-container {
	margin-left: 25%;
	margin-right: 5%;
    border: 1px solid black;
    padding: 2rem 5rem;
  }

  .admin-edit-user-container .edit-form-container h1 {
      text-align: center;
  }

  .admin-edit-user-info .image-area {
	  padding: 0
  }

  .admin-edit-user-info .user-img-container .input-group {
	  margin: 0
  }

  .admin-edit-user-info {
	  padding: 2rem 5rem;
  }
  
  .admin-edit-user-info .edit-user-column {
	  margin: 0 4.16%;
  }


  /* Additional Data Styles */

  .additional-files-container {
	margin-left: 30%;
    margin-right: 15%;
    border: 1px solid black;
    padding: 3rem 5rem;
  }