{{#if (isNot isAdmin true)}}
<footer class="usfq-footer">
    <div class="container">
        <span id="footerLogo">
            <a href="/">
                <img src="/img/usfq-logo-blanco.png" alt="USFQ footer logo">
            </a>
        </span>
        <p class="usfq-description">
	        Universidad San Francisco de Quito
            <br>
            Diego de Robles y Vía Interoceánica
            <br>						
            <a href="tel:+593-2-297-1700">
				+593 2 297 1700
			</a>
        </p>
    </div>
     <div class="copyright">
        <p>
            Copyright © 2020 Universidad San Francisco de Quito | <a href="https://www.usfq.edu.ec/es/privacy-policy" target="_blank">Privacy Policy</a>
        </p>
    </div>
</footer>
{{/if}}