{{#if (isNot isAdmin true)}}
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href={{#if user}} "/home" {{else}} "/signin" {{/if}}> <img src="/img/usfq-tutorias-logo.png" alt="usfq-logo"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{#if user}}
            <li class="nav-item {{#if (is path "home")}} active {{/if}}">
            <a class="nav-link" href="/home">Inicio <span class="sr-only">(current)</span></a>
            </li>
            {{#if isDean}}
            <li class="navitem {{#if (is path "reports")}} active {{/if}}">
            <a href="/reports" class="nav-link">Reportes</a>
            </li>
            {{/if}}
            {{#if isProfessor}}
            <li class="navitem {{#if (is path "meetings")}} active {{/if}}">
            <a href="/meetings" class="nav-link">Reuniones</a>
            </li>
            <li class="navitem {{#if (is path "notifications")}} active {{/if}}">
            <a href="/notifications" class="nav-link">Notificaciones</a>
            {{#if showNotifications}}
            <span class="notification-number-icon">{{notificationsNum}}</span>
            {{/if}}
            </li>
            <li class="navitem {{#if (is path "students")}} active {{/if}}">
            <a href="/students" class="nav-link">Estudiantes</a>
            </li>
            {{/if}}
            {{#if isStudent }}
            <li class="navitem {{#if (is path "meetings")}} active {{/if}}">
            <a href="/meetings" class="nav-link">Reuniones</a>
            </li>
            <li class="navitem {{#if (is path "notifications")}} active {{/if}}">
            <a href="/notifications" class="nav-link">Notificaciones</a>
            {{#if showNotifications}}
            <span class="notification-number-icon">{{notificationsNum}}</span>
            {{/if}}
            </li>
            <li class="navitem {{#if (is path "tutor")}} active {{/if}}">
            <a href="/tutor" class="nav-link">Mi Tutor</a>
            </li>
            {{/if}}
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Configuraciones
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/edit-profile">Editar Perfil</a>
                    <a class="dropdown-item" href="/change-password">Cambiar Contraseña</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Cerrar Sesión</a>
            </li>
        </ul>
        {{/if}}
    </div>
</nav>
{{/if}}