<div class="container form-container password-container">
          <form action="/change-password" method="POST" class="form-reset-pwd">
              <input type="hidden" id="userIdInput" class="form-control form-input" name="userId" value="{{userId}}">
              <div class="row">
                  <div class="col-sm-5">
                    <label for="oldPasswordInput">Contraseña Actual</label>
                  </div>
                <div class="col-sm-7">
                    <input type="password" id="oldPasswordInput" name="oldPassword" class="form-control form-input input-password" placeholder="Contraseña" required="" autofocus="" autocomplete="off">
                  </div>
              </div>
              <div class="row">
                <div class="col-sm-5">
                  <label for="newPasswordInput">Nueva Contraseña</label>
                </div>
              <div class="col-sm-7">
                  <input type="password" id="newPasswordInput" name="newPassword" class="form-control form-input input-password" placeholder="Nueva Contraseña" required="" autofocus="" autocomplete="off">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                  <label for="confirmationInput">Confirma la Nueva Contraseña</label>
                </div>
              <div class="col-sm-7">
                  <input type="password" id="confirmationInput" name="confirmation" class="form-control form-input input-password" placeholder="Confirmación" required="" autofocus="" autocomplete="off">
                </div>
            </div>
            <div class="form-container-btn">
              <button class="btn btn-primary" type="submit">Cambiar Contraseña</button>
            </div>
          </form>
        </div>