 <div class="page-header">
           <div class="container">
              <div class="row">
                 <div class="col-md-12">
                    <h1>{{ headerTitle }}</h1>
                 </div>
              </div>
              <img class="mb-4" src="/img/bootstrap-solid.svg" alt="" width="72" height="72">
           </div>
        </div>

        <div class="container form-container password-container">
          <form action="/create-password" method="POST" class="form-reset-pwd">
              <input type="hidden" id="userIdInput" class="form-control form-input" name="userId" value="{{userId}}">
              <div class="row">
                <div class="col-sm-5">
                  <label for="newPasswordInput">Nueva Contraseña</label>
                </div>
              <div class="col-sm-7">
                  <input type="password" id="newPasswordInput" class="form-control form-input input-password" placeholder="Nueva Contraseña" required="" autofocus="" autocomplete="off" name="newPassword">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                  <label for="confirmationInput">Confirma la Nueva Contraseña</label>
                </div>
              <div class="col-sm-7">
                  <input type="password" id="confirmationInput" class="form-control form-input input-password" placeholder="Confirmación" required="" autofocus="" autocomplete="off" name="confirmation">
                </div>
            </div>
            <div class="form-container-btn">
              <button class="btn btn-primary" type="submit">Crear Contraseña</button>
            </div>
          </form>

          <div class="redirect-container">
            <a class="txt3" href="/signin">Volver a Inicio?</a>
          </div>
        </div>