   <div class="page-header">
           <div class="container">
              <div class="row">
                 <div class="col-md-12">
                    <h1>{{headerTitle}}</h1>
                 </div>
              </div>
              <img class="mb-4" src="./img/bootstrap-solid.svg" alt="" width="72" height="72">
           </div>
        </div>

        <div class="container form-container password-container">
          <p class="lead">
            Ingresa tu correo electrónico y te envíaremos instrucciones para restablecer tu contraseña.
         </p>
          <form action="/reset-password" method="post" class="form-reset-pwd">
            <div class="form-label-group">
              <input name="email" type="email" id="passwordEmail" class="form-control form-input input-email" placeholder="Email" required="" autofocus="" autocomplete="off">
              <label for="passwordEmail">Email</label>
            </div>
            <div class="form-container-btn">
              <button class="btn btn-primary" type="submit">Restablecer Contraseña</button>
            </div>
          </form>

          <div class="redirect-container">
            <a class="txt3" href="/signin">Volver a Inicio?</a>
          </div>
        </div>
