<div class="container form-container signin-container main-container">
    <div class="row">
        <div class="col-sm-8 form-side-image"></div>
        <div class="col-sm-4 ">
            <form action='/signin' method="post" class="form-signin">
                <img src="/img/bootstrap-solid.svg" class="form-header-logo" alt="">
                <h1 class="form-header">Iniciar Sesión</h1>
                <div class="form-label-group">
                    <input type="email" name="email" id="signinEmail" class="form-control form-input input-email" placeholder="Email" required="" autofocus="" autocomplete="off">
                    <label for="signinEmail">Email</label>
                </div>
                <div class="form-label-group">
                    <input type="password" name="password" id="signinPassword" class="form-control form-input input-password" placeholder="Contraseña" required="" autocomplete="off">
                    <label for="signinPassword">Contraseña</label>
                </div>
                <div class="row">
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="signinCheck">
                        <label class="form-check-label" for="signinCheck">Recordarme</label>
                    </div>
                    <div>
                        <a href="/forgot-password" class="txt1">
                        Olvidaste tu contraseña?
                        </a>
                    </div>
                </div>
                <div class="form-container-btn">
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                </div>
                <div class="sign-in-question-container">
                    <a href="/first-time-login" class="txt3">
                    Primera vez que ingresas?
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>